<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="nav">
      <h1>EDIT POKEMON</h1>
      <a href="/pokemon">Back to Index</a>
      <a href="/pokemon/new">Add a pokemon</a>
    </div>
    <form class="pokemon" action="/pokemon/<%= id %>?_method=PUT" method="post">
      <fieldset>
        <label for="id"
          >Id:<input
            type="text"
            name="id"
            value="<%=poke.id%>"
            readonly /></label
        ><br />
        <label for="name"
          >Name:<input type="text" name="name" value="<%=poke.name%>" /></label
        ><br />
        <label for="image"
          >Image:<input type="text" name="image" value="<%=poke.img%>" /></label
        ><br />
        <label for="type"
          >Type:<input type="text" name="type" value="<%=poke.type%>" /></label
        ><br />
      </fieldset>
      <div class="save"><input type="submit" value="Update pokemon" /></div>
    </form>
  </body>
</html>
