<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="top">
      <h1>LIST OF POKEMONS</h1>
      <a href="/pokemon/new">Add a pokemon</a>
    </div>
    <div id="main">
      <% for (let i = 0; i < pokemon.length; i++){ %>
      <div id="item">
        <div id="name"><%= pokemon[i].name %></div>
        <div id="pokemonimage">
          <a href="/pokemon/<%= i %>"
            ><img src="<%= pokemon[i].img %>" alt=""
          /></a>
        </div>
        <div id="edit"><a href="/pokemon/<%= i %>/edit">Edit</a></div>
        <div id="delete">
          <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <input type="submit" value="Delete" />
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
